.nav-header{
	background-color: #ffffff;
}


.navbar-inverse .navbar-nav>li>a{
	font-size: 13px;
	color: #000000;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #000000;
	text-decoration: underline;
}

.form-search{
	width: 180px;
	height: 30px;
	border-radius: 6px;
}
.btn-search{
	height: 30px;
	border-radius: 6px;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: black;
}
.menu1 ul{
	position: absolute;
	z-index: 999;
}

.break{
	clear: both;
	height: 10px;
	width: 100%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.break90{
	clear: both;
	height: 10px;
	width: 90%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.space20{
	height: 20px;
	width: 100%;
}


.row-item{
	padding-left:15px;
}

.border-left{
	border-left: 1px solid #EEEEEE;
}

.border-right{
	border-right: 1px solid #EEEEEE;
}

a{
	color:black;
}

a:hover{
	text-decoration: none;
}

.myheader{
	background-color: #337AB7;
	color:white;
}

.clear{
	clear:both;
}



/*===============Footer===================*/

footer{
	background-color: #01a050;
	color: #ffffff;
}
footer .container .row .col-sm-3 h5{
	font-weight: 700;
}
footer .container .row .col-sm-3 p a{
	color: #ffffff;
	text-decoration: none;
}
footer .container .row .col-sm-3 p a:hover{
	color: #000000;
}
footer .container .row .col-sm-3 p .dungexpress{
	font-weight: 800;
	color: #9e1e4a;
}
footer .container .row .danhmuc{
	padding-left: 70px;
}